<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main-page.css}">
    <link rel="stylesheet" th:href="@{/css/custom-select.css}">
    <title>Exchange: Main Page</title>
</head>

<body>
<header class="main-header">
    <a href="/main-page" class="main-header-logo"><img th:src="@{/img/iba-tech-logo-white.svg}"
                                                                 alt="IBA Tech Academy"></a>
    <div class="main-header-wrapper">
        <div class="main-header-profile-wrapper">
            <div class="main-header-profile-credentials">
                <div th:if="${!name.equals('')}">
                <span class="main-header-username" th:text="${name}"></span>
                </div>
                <div class="log-out-block">
                    <img th:src="@{/img/log-out-icon.svg}" alt="Log out">
                    <div th:unless="${name.equals('')}">
                        <a href="/logout" class="log-out-btn">Log out</a>
                    </div>
                </div>
            </div>
            <img class="main-header-person-icon" th:src="@{/img/user-icon-with-background.svg}" alt="User Icon">
        </div>
    </div>
</header>

<section class="exchange">
    <div class="exchange-content">
        <h3 class="exchange-content-heading">
            History Calculator
        </h3>
        <table>
            <thead>
            <tr>
                <th> Date </th>
                <th>Expression </th>
                <th> Result </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${histories}">
                <td ><span th:text="${#temporals.format(history.date, 'dd.MM.yyyy - HH:mm')}"> Date </span></td>
                <td><span th:text="${history.expression}"> Expression </span></td>
                <td><span th:text="${history.result}"> Result </span></td>
            </tr>
            </tbody>
        </table>

        <a href="/main-page" class="log-out-btn">Return Calculator</a>

    </div>

</section>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript"
        th:src="@{/js/jquery.ddslick.min.js}"></script>
<script th:src="@{/js/currency-select.js}"></script>
<script th:src="@{/js/date-select.js}"></script>
</body>

</html>